@model Solution.Presentation.Models.PostCRM

<h1>@Model.Title</h1>

<div>
    @Model.Content
</div>

@if(Model.Replies.Any())
{
    foreach(var reply in Model.Replies)
    {
        <div>
            Reply :@reply.Content
        </div>
    }
}

