@model Solution.Presentation.Models.PostReplyCRM

<div>
    @Model.Content
</div>

@if(Model.postReplies.Any())
{
    foreach(var reply in Model.postReplies)
    {
        <div>
            Reply :@reply.Content
        </div>
    }
}

